USE [master]
GO
/****** Object:  Database [ProvaAgenti]    Script Date: 12/11/2021 14:59:01 ******/
CREATE DATABASE [ProvaAgenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProvaAgenti', FILENAME = N'C:\Users\sanna\ProvaAgenti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProvaAgenti_log', FILENAME = N'C:\Users\sanna\ProvaAgenti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProvaAgenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProvaAgenti]
GO
USE [ProvaAgenti]
GO
/****** Object:  Table [dbo].[Agente]    Script Date: 12/11/2021 14:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agente](
	[Nome] [nvarchar](30) NOT NULL,
	[Cognome] [nvarchar](30) NOT NULL,
	[CodiceFiscale] [nchar](16) NOT NULL,
	[AreaGeografica] [nvarchar](40) NOT NULL,
	[AnnoInizioAttivita] [int] NOT NULL,
 CONSTRAINT [PK_Agente] PRIMARY KEY CLUSTERED 
(
	[CodiceFiscale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agente] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Michela', N'Pintor', N'MCLPNTRGJ59DIGK5', N'Bastione', 2002)
INSERT [dbo].[Agente] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Mario', N'Rossi', N'MRRSS69584726495', N'Cagliari sud', 2015)
INSERT [dbo].[Agente] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Mauro', N'Sanna', N'MRSNNFK5968GUDH4', N'Porto', 2011)
GO
ALTER TABLE [dbo].[Agente]  WITH CHECK ADD CHECK  (([AnnoInizioAttivita]>(0)))
GO
USE [master]
GO
